@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@300;500&family=Raleway:wght@100;200;300&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: whitesmoke;
  font-family: 'Raleway', sans-serif;
  background-color: #008080;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.App-Header {
  display: flex;
  justify-content: center;
}

.Dropdown-Multiselect {
  width: 30%;
  height: 30%;
  margin: 100px 40px;
  background-color: #f0ffff;
  color: #008080;
  padding: 40px 40px;
  border-radius: 10px 100px / 120px;
}

h1 {
  margin: 100px 10px 35px 5px;
}

.map {
  width: 100%;
  height: 100%;
  margin: 100px 40px;
  padding: 40px 40px;
  border-radius: 10px 100px / 120px;
}
